<p style="color: green"><%= notice %></p>

<h1>Tribes</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th>tribe</th>
      <th>tribesmen</th>
      <th>chief</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tribes.each do |tribe| %>
      <tr>
        <td><%= tribe.tribe %></td>
        <td><%= tribe.tribesmen %></td>
        <td><%= tribe.chief %></td>
        <td><%= link_to "Show", tribe %></td>
        <td><%= link_to 'Delete', tribe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New tribe", new_tribe_path, class:"btn btn-primary" %>