<div id="<%= dom_id my %>">
  <p>
    <strong>Tribes:</strong>
    <%= my.Tribes %>
  </p>

  <p>
    <strong>Tribe:</strong>
    <%= my.tribe %>
  </p>

  <p>
    <strong>Tribesmen:</strong>
    <%= my.tribesmen %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= my.first_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= my.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= my.phone %>
  </p>

  <p>
    <strong>Telegram:</strong>
    <%= my.telegram %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= my.last_name %>
  </p>

</div>
